h1 {
    margin: 0 auto;
    text-align: center;
    }

h2 {
    margin-left: .75em;
    }

li {
    font-size: 2.2em;
    width: 200px;
    margin: .75em;
    padding: .25em .5em;
    list-style: none;
    border: 1px solid red;
    border-radius: 20px;
    background-color: white;
    }



.home {
    margin: .75em;
    padding-top: 2.2em;
    font-size: 1.75em;
    }