<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Bargain Books</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  </head>
  <body>
   <h1>Welcome to Bargain Books!</h1> 
   <h2>Click on a book to learn more:</h2>
   
    <ul>
        {{#each books}}
            <li><a href= "/detail?author={{auth}}">{{auth}}</a></li>
        {{/each}}
    </ul>
  </body>
</html>